<div class="px-4">
  <ng-container *ngIf="scopeService$.active_data$ | async as scope">
    <div class="flex lg:justify-content-between">
      <div>
        <div class="flex">
          <p-button icon="pi pi-arrow-left" styleClass="mr-2" link [routerLink]="['/auth', 'manage', 'scopes']" link />
          <div class="font-medium text-3xl text-900 mb-3">Permissions</div>
        </div>
        <div class="text-500 mb-5">Détails de la permission</div>
      </div>

      <p-splitbutton label="Éditer" (onClick)="edit(scope)" [model]="items"></p-splitbutton>
    </div>

    <p-card>
      <div class="grid formgrid fluid">
        <div class="field mb-4 col-12">
          <label for="slug" class="font-medium text-900">Slug<span class="required-field">*</span>
          </label>
          <input id="slug" type="text" pInputText [fluid]="true" required="true" [ngModel]="scope.slug"
            [disabled]="true">
        </div>
        <div class="field mb-4 col-12">
          <label for="label" class="font-medium text-900">Libellé<span class="required-field">*</span>
          </label>
          <input id="label" type="text" pInputText [fluid]="true" required="true" [ngModel]="scope.label"
            [disabled]="true">
        </div>
        <div class="field mb-4 col-12 md:col-12">
          <label for="description" class="font-medium text-900">Description</label>
          <textarea id="description" pTextarea rows="5" [autoResize]="true" [ngModel]="scope.description" [fluid]="true"
            [disabled]="true"></textarea>
        </div>
      </div>
    </p-card>
  </ng-container>
</div>