<p-menu #menu [model]="profilMenu" [popup]="true" />

<p-menubar [model]="menuBar" [autoDisplay]="true" [autoHide]="true" [style]="{'border': 'none'}">
  <ng-template #start>
    <div class="flex align-items-center px-5 flex-shrink-0 cursor-pointer" style="height:60px" [routerLink]="['/']">
      <img src="lepatio-logo-2.png" alt="Image" height="40">
    </div>
  </ng-template>
  <ng-template #end>
    <div class="flex items-center gap-2">
      <p-avatar size="large" image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"
        (click)="menu?.toggle($event)" />
    </div>
  </ng-template>
</p-menubar>

<div class="px-2 md:px-3 flex justify-content-around">
  <div class="layout-container px-3">
    <div class="p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>