<div class="px-4">
  <ng-container *ngIf="roleService$.active_data$ | async as role">
    <div class="flex lg:justify-content-between">
      <div>
        <div class="flex">
          <p-button icon="pi pi-arrow-left" styleClass="mr-2" link [routerLink]="['/auth', 'manage', 'roles']" link />
          <div class="font-medium text-3xl text-900 mb-3">Rôle</div>
        </div>
        <div class="text-500 mb-5">Détails du rôle</div>
      </div>

      <p-splitbutton label="Éditer" (onClick)="edit(role)" [model]="items" />
    </div>


    <p-card>
      <div class="grid formgrid fluid">
        <div class="field mb-4 col-12">
          <label for="label" class="font-medium text-900">Libellé<span class="required-field">*</span>
          </label>
          <input id="label" type="text" pInputText [fluid]="true" required="true" [ngModel]="role.label"
            [disabled]="true" autofocus>
        </div>
        <div class="field mb-4 col-12 md:col-12">
          <label for="description" class="font-medium text-900">Description</label>
          <textarea id="description" pTextarea rows="5" [autoResize]="true" [ngModel]="role.description" [fluid]="true"
            [disabled]="true"></textarea>
        </div>
        <div class="field col-12 md:col-12">
          <label for="description" class="font-medium text-900">Permissions</label>
          <div class="card flex items-center gap-2 flex-wrap">
            <p-chip *ngFor="let scope of role?.Scopes" [label]="scope?.label" />
          </div>
        </div>
      </div>
    </p-card>
  </ng-container>
</div>