<div class="px-4">
  <ng-container *ngIf="userApplicationRole$.loadingState$| async as loader_state">
    <div class="flex justify-content-between align-items-start">
      <div>
        <div class="font-medium text-3xl text-900 mb-3">Utilisateurs</div>
        <div class="text-500 mb-5">Gérer la liste des utilisateurs de cette application</div>
      </div>

      <div>
        <p-splitbutton label="Inviter" [buttonDisabled]="authService$.hasScopes([''])" icon="pi pi-plus"
          [model]="actions_menu" (onClick)="create()" outlined />
      </div>
    </div>

    <p-card>
      <ng-container *ngIf="userApplicationRole$.data$ | async as user_application_role">
        <p-table #user_application_role_dt [value]="user_application_role.data" selectionMode="single"
          [loading]="loader_state.list" [dataKey]="userApplicationRole$.identifier"
          [tableStyle]="{'min-width': '50rem'}" (onRowSelect)="detail($event)"
          [globalFilterFields]="['User.email', 'User.username',  'User.phoneNumber', 'User.is2faEnabled', 'active', 'Role.label']">

          <!-- caption template -->
          <ng-template pTemplate="caption">
            <p-inputgroup styleClass="mb-3">
              <input pInputText [(ngModel)]="dt_search_value" placeholder="Rechercher..."
                (input)="user_application_role_dt.filterGlobal(dt_search_value, 'contains')" />
              <p-inputgroup-addon>
                <p-button icon="pi pi-filter-slash" text severity="secondary"
                  (onClick)="user_application_role_dt.clear(); dt_search_value = '';" size="large" />
              </p-inputgroup-addon>
            </p-inputgroup>
          </ng-template>

          <!-- header template -->
          <ng-template pTemplate="header">
            <tr>
              <th style="min-width:5rem">
                <div class="flex align-items-center">
                  {{'Email' | uppercase }}
                  <p-columnFilter type="text" field="User.email" display="menu" matchMode="contains" />
                </div>
              </th>
              <th style="min-width:5rem">
                <div class="flex align-items-center">
                  {{'identifiant' | uppercase }}
                  <p-columnFilter type="text" field="User.username" display="menu" matchMode="contains" />
                </div>
              </th>
              <th style="min-width:5rem">
                <div class="flex align-items-center">
                  {{'Téléphone' | uppercase }}
                  <p-columnFilter type="text" field="User.phoneNumber" display="menu" matchMode="contains" />
                </div>
              </th>
              <th style="min-width:5rem">
                <div class="flex align-items-center">
                  {{'Role' | uppercase }}
                  <p-columnFilter type="text" field="Role.label" display="menu" matchMode="contains" />
                </div>
              </th>
              <th style="min-width:5rem">
                <div class="flex align-items-center">
                  {{'statut' | uppercase }}
                  <p-columnFilter field="active" matchMode="equals" display="menu">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                      <p-select [options]="[{value: true, label: 'actif'}, {value: false, label: 'inactif'}]"
                        (onChange)="filter($event.value)" placeholder="Any">
                        <ng-template let-option pTemplate="item">
                          <p-tag [value]="option.label" [severity]="option.value ? 'success' : 'danger'"></p-tag>
                        </ng-template>
                      </p-select>
                    </ng-template>
                  </p-columnFilter>
                </div>
              </th>
            </tr>
          </ng-template>

          <!-- body template -->
          <ng-template pTemplate="body" let-item let-index="rowIndex">
            <tr [pSelectableRow]="item">
              <td>{{item?.User?.email}}</td>
              <td>{{item?.User?.username}}</td>
              <td>{{item?.User?.phoneNumber ?? '-'}}</td>
              <td>{{item?.Role?.label ?? '-'}}</td>
              <td>
                <p-tag [severity]="item?.active ? 'success' : 'danger'" [value]="item?.active ? 'actif' : 'inactif'" />
              </td>
            </tr>
          </ng-template>

          <!-- summary template -->
          <ng-template pTemplate="summary">
            <div class="felx justify-content-center">
              <p-paginator (onPageChange)="onPageChange($event)" [rows]="userApplicationRole$.queryParams.pageSize"
                [totalRecords]="user_application_role.total">
              </p-paginator>
            </div>
          </ng-template>
        </p-table>
      </ng-container>
    </p-card>
  </ng-container>
</div>