<div class="px-4">
    <ng-container *ngIf="scopeService$.loadingState$ | async as loader_state">
        <div class="flex justify-content-between align-items-start">
            <div>
                <div class="font-medium text-3xl text-900 mb-3">Permissions</div>
                <div class="text-500 mb-5">Ajouter une nouvelle permission de cette application</div>
            </div>

            <div>
                <p-button label="Rôles" icon="pi pi-plus" [routerLink]="['/auth', 'manage', 'scopes']" outlined />
            </div>
        </div>

        <p-card>
            <div class="grid formgrid fluid">
                <p-message *ngIf="success_alert" [life]="3000" severity="success" class="mb-3 w-full"
                    (onClose)="success_alert = false">Nouvelle permission ajoutée à cette application</p-message>
                <div class="field mb-4 col-12">
                    <label for="slug" class="font-medium text-900">Slug<span class="required-field">*</span>
                    </label>
                    <input id="slug" type="text" pInputText [fluid]="true" required="true" [(ngModel)]="scope.slug"
                        variant="filled" autofocus>
                </div>
                <div class="field mb-4 col-12">
                    <label for="label" class="font-medium text-900">Libellé<span class="required-field">*</span>
                    </label>
                    <input id="label" type="text" pInputText [fluid]="true" required="true" [(ngModel)]="scope.label"
                        variant="filled" autofocus>
                </div>
                <div class="field mb-4 col-12 md:col-12">
                    <label for="description" class="font-medium text-900">Description</label>
                    <textarea id="description" pInputTextarea rows="5" [autoResize]="true"
                        [(ngModel)]="scope.description" [fluid]="true" variant="filled"></textarea>
                </div>
                <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>
                <div class="col-12">
                    <p-button label="Enregistrer" icon="pi pi-save" type="submit" class="w-auto mt-3"
                        [disabled]="!scope.label" [loading]="loader_state.create" (click)="save($event)" />
                </div>
            </div>
        </p-card>
    </ng-container>
</div>